{% extends 'Base/base.html' %}

{% block content %}
<div class="row">
    <!-- Compteurs des utilisateurs -->

    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TOTAL ENTREES</h5>
                <p class="card-text">{{ total_entrees }}</p>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TOTAL DEPENSES</h5>
                <p class="card-text">{{ total_depenses }}</p>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">SOLDE</h5>
                <p class="card-text">{{ remaining }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Graphique des transactions par type sur les comptes épargne -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4>Transactions de type entrées de ce mois</h4>
                <div>
                    <canvas id="bar-chart" width="400" height="200"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById('bar-chart').getContext('2d');
                    var transactionsData = {{ transactions_data | safe }};
                    var categories = {{ categories | safe }};
                    var datasets = [];

                    categories.forEach(function(categorie) {
                        var data = Object.keys(transactionsData).map(function(date) {
                            return transactionsData[date][categorie] || 0;
                        });
                        datasets.push({
                            label: categorie,
                            data: data,
                            backgroundColor: 'rgba(' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',0.5)',
                            borderColor: 'rgba(' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',1)',
                            borderWidth: 1
                        });
                    });

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(transactionsData),
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: { precision: 0 }
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>

    <!-- Graphique des transactions par type sur les comptes prêts -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4>Transactions de type dépenses de ce mois</h4>
                <div>
                    <canvas id="bar-chartp" width="400" height="200"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById('bar-chartp').getContext('2d');
                    var transactionsPretData = {{ transactions_pret_data | safe }};
                    var categoriesd = {{ categoriesd | safe }};
                    var datasets_pret = [];

                    categoriesd.forEach(function(categorie) {
                        var data = Object.keys(transactionsPretData).map(function(date) {
                            return transactionsPretData[date][categorie] || 0;
                        });
                        datasets_pret.push({
                            label: categorie,
                            data: data,
                            backgroundColor: 'rgba(' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',0.5)',
                            borderColor: 'rgba(' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',1)',
                            borderWidth: 1
                        });
                    });

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(transactionsPretData),
                            datasets: datasets_pret
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: { precision: 0 }
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}
