{% extends 'Base/base.html' %}

{% block content %}
{% load static %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Détails de l'abonnement</h4>
            <div class="page-title-right">
                <a href="{% url 'liste_clients' %}" class="btn btn-primary">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">LISTES DES ABONNEMENTS</h4>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="mt-4">
                            <h5 class="font-size-14">Cliquez</h5>
                            <p class="card-title-desc">Abonnements.</p>

                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Abonnements
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="text-muted">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Date debut</th>
                                                            <th>Date fin</th>
                                                            <th>Statut</th>
                                                            <th>Montant</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for abonnement in abonnements %}
                                                        <tr>
                                                            <td>{{ abonnement.date_debut }}</td>
                                                            <td>{{ abonnement.date_fin }}</td>
                                                            <td style="width: 70px;">
                                                                {% if abonnement.est_actif == 0 %} 
                                                                    <span class="badge badge-pill badge-soft-danger font-size-11">{{ abonnement.est_actif }}</span>
                                                                {% elif abonnement.est_actif == 1 %}
                                                                    <span class="badge badge-pill badge-soft-success font-size-11">{{ abonnement.est_actif }}</span>
                                                                {% else %}
                                                                    {{ abonnement.est_actif }}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ abonnement.montant }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                            <!-- end accordion -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}