{% extends 'Base/base.html' %}

{% block content %}
 <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Mondjai</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'courbe_transactions' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Abonnements</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                      <h6 class="mb-0">Consulter la liste des abonnements</h6>
                    </div>
                    <div class="col-6 text-end">
                    </div>
                </div>
                <br><br>
                  <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead class="table-light">
            <tr>
                <th>Client</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Statut</th>
                <th>Montant</th>
                <th width="30">Tâches</th>
            </tr>
        </thead>
        <tbody>
            {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.utilisateur }}</td>
                <td>{{ abonnement.date_debut }}</td>
                <td>{{ abonnement.date_fin }}</td>
                <td style="width: 70px;">
                    {% if abonnement.est_actif == 0 %} 
                        <span class="badge badge-pill badge-soft-danger font-size-11">{{ abonnement.est_actif }}</span>
                    {% elif abonnement.est_actif == 1 %}
                        <span class="badge badge-pill badge-soft-success font-size-11">{{ abonnement.est_actif }}</span>
                    {% else %}
                        {{ abonnement.est_actif }}
                    {% endif %}
                </td>
                <td>{{ abonnement.montant }}</td>
                <td> 
                    <div class="btn-group"> 
                        <button class="btn btn-secondary btn-sm" type="button">
                            Actions
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <iconify-icon icon="mdi:chevron-down-circle"></iconify-icon>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'modifier_abonnements' pk=abonnement.id %}">Réclamation</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Aucune donnée disponible.</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>


</div>
</div>
</div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}
